<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img src="../assets/imagenes/matecategoria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mates</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/imagenes/termo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Termos</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/imagenes/bombilla.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bombillas</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/imagenes/mochilamatera.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mochilas</h5>
        </div>
      </div>
    </div>
  </div>